.img{
    border: solid 1px;
    -webkit-box-shadow: 5px 7px 14px 0px rgba(0,0,0,0.35); 
    box-shadow: 5px 7px 14px 0px rgba(0,0,0,0.35);
    
    
}
.seccion{
    display: flex;
    justify-content: center;
    align-items: center;

}
summary{
    list-style: none;
    
}